.header-section {
    background-color: #131313;
    height: 83px;
    display: flex;
    flex-direction: row;
    font-family: FuturaDemiC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    align-items: center;
    h1 {
        color: #E3B873;
        font-size: 14px;
        line-height: 16px;
        margin-left: 82px;
        cursor: pointer;
    }
    nav {
        color: #FFFFFF;
        margin-left: 95px;
        ul {
            list-style-type: none;
            li {
                font-family: FuturaBookC;
                float: left;
                margin-right: 47px;
                cursor: pointer;
                &:hover, &.header-section_item__active {
                    color: #E3B873;
                }
                
            }
        }
    }

    .header-section_phone {
        margin-right: 45px;
        a {
            &:visited, &:default {
                color: #E3B873;
            }
        }
        
    }

    h1, .header-section_phone, .header-section_request {
        flex: 0 0 auto;
    }
    nav {
        flex: 1 1 auto;
    }

    .header-section_request {
        margin-right: 100px;
        button {
            color: #FFFFFF;
            width: 161px;
            height: 37px;
            font-size: 13px;
            line-height: 15px;
            background: #E3B873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            border-radius: 2px;
            border: 0px;
            cursor: pointer;
        }
    }
}

.repair-section {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    background-color: #131313;
    height: 700px;
    
    .repair-section_main  {
        flex: 1 1 auto;
    }

    .repair-section_side {
        flex: 0 0 60px;
        overflow: hidden;
    }
  
    .repair-section_side {
        display: flex;
        align-items: center;

        .link {
            display: flex;
            align-items: center;
            transform: rotate(90deg);
            margin-left: -40px;

            a {
                display: inline-block;
                flex: 0 0 auto;
                font-family: FuturaDemiC;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                text-decoration-line: none;
                &:visited, &:default {
                    color: #E3B873;
                }
            }

            .line {
                flex: 0 0 auto;
                height: 1px;
                width: 51px;
                background-color: #E3B873;
                margin-left: 8px;
            }
        }
    }

    .repair-section_main {
        background: rgba(0, 0, 0, .65) url(/assets/images/Repair.jpg);
        background-blend-mode: darken;
        display: flex;
        flex-direction: row;
        align-items: center;

        .information {
            flex: 0 0 600px;
            margin-left: 60px;

            .information_title {
                font-family: Yeseva One;
                font-size: 40px;
                line-height: 53px;
                text-transform: uppercase;
                color: #FFFFFF;

                .color-orange {
                    color: #E3B873;
                }
            }

            .information_body {
                font-family: FuturaBookC;
                font-size: 22px;
                line-height: 30px;
                color: #FFFFFF;
            }

            .information_buttons {
                button {
                    float: left;
                    width: 207px;
                    height: 51px;
                    margin-right: 20px;
                    font-family: FuturaDemiC;
                    font-size: 13px;
                    line-height: 15px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    background: none;
                    border: 1px solid #FFFFFF;
                    border-radius: 2px;
                    cursor: pointer;
                    &:hover, &.active {
                        background: #E3B873;
                        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
                        border: 1px solid #E3B873;
                    }
                } 
            }
        }
    }

    

    
}